<body style="margin: 0; padding: 0; background: #000;">
  <div class="container">
    <table
      bgcolor="#b30000"
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="700">
      <tr>
        <td style="padding: 40px 30px 20px 30px">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td>
                <center>
                  <font face="arial" color="white">
                      <h1>
                        Ordem de serviço atrasada.
                      </h1>
                  </font>
                </center>
              </td>
            </tr>
            <tr>
              <td>
                <font face="arial" color="white">
                  <center>
                    A ordem de serviço: ${CODE} devia ter sido fechada em: ${DATE}.
                  </center>
                </font>
              </td>
            </tr>
              <tr>
                  <td>
                      <font face="arial" color="white">
                        <center style="padding: 30px 30px 40px 30px">
                          ${MESSAGE}
                        </center>
                      </font>
                  </td>
              </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>
