<body style="margin: 0; padding: 0; background: #ff6c00;">
  <div class="container">
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="700"
    >
      <tr>
        <td bgcolor="#ff6c00" style="padding: 20px 20px 20px 20px">
          <table bgcolor="white" border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 40px 30px 20px 30px">
            <tr>
              <td>
                <center>
                  <font face="arial">
                      <h1>
                        Ordem de serviço prestes a expirar.
                      </h1>
                  </font>
                </center>
              </td>
            </tr>
            <tr>
              <td>
                <font face="arial">
                  <center>
                    A ordem de serviço: ${CODE}, expira em ${DATE}.
                  </center>
                </font>
              </td>
            </tr>
              <tr>
                  <td>
                      <font face="arial">
                        <center style="padding: 30px 30px 40px 30px">
                          ${MESSAGE}
                        </center>
                      </font>
                  </td>
              </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>
