html {
    height: 100%;
    width: auto;
}

body {
    background-color: white;
    margin-top: 4rem;
    color: black;
    text-align: center;
}

h2 {
    margin-top: 50px;
    font-size: 2.25rem;
}

h4 {
    margin-top: 25px;
    font-size: 1.4rem;
}
