<html>
    <head>
        <style>
            html {
    height: 100%;
    width: auto;
}

body {
    background-color: white;
    margin-top: 4rem;
    color: black;
    text-align: center;
}

h2 {
    margin-top: 50px;
    font-size: 2.25rem;
}

h4 {
    margin-top: 25px;
    font-size: 1.4rem;
}
        </style>
    </head>
    <body>
        <div>
            <h2>SUA CREDENCIAIS FORAM REGISTRADAS</h2>
            <H4>Uma mensagem foi enviada para o seu endereço de e-mail</H4>
            <H4>
                Verifique sua caixa de spam, pode ser que o e-mail enviado esteja lá
            </H4>
        </div>
    </body>
</html>