html {
    width: auto;
}

body {
    background-color: white;
    margin-top: 4rem;
    color: black;
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-weight: 100;
    font-style: normal;
    margin: 0;
}
.container {
    padding: 20px;
    border: 2px solid #2f2f2f;
    border-radius: 8px;
    margin: 25 auto;
    width: 340px;
    box-sizing: border-box;
    background: #9999995e;
}
.form-container {
    padding: auto;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
}
label {
    font-weight: 600;
    margin-bottom: 7px;
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    width: min-content;
}
input {
    margin-bottom: 15px;
    margin-top: 5px;
    display: block;
    width: 100%;
    background-color: #404040;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #999;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    padding: 5px 12px;
}
.input-container {
    position: relative;
}
.info {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 6px;
    height: 18px;
    width: 18px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    color: black;
    font-family: arial;
}
.button:hover {
    color: rgb(0, 255, 255);
    background-color: rgb(156, 0, 223);
    border-color: rgb(156, 0, 223);
}
.subtitle {
    font-size: 1.25rem;
    margin-top: 3px;
    font-weight: 800;
}
.credentials {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}

.cred-link {
    text-decoration: none;
    color: inherit;
}

.cred-link:hover {
    color: #a970ff;
}

.trouble {
    color: #6e42b0;
    text-decoration: none;
}
.trouble:hover {
    color: #6e42b0;
    text-decoration: underline;
}
.trouble:hover::after {
    content: "Contact your admin.";
    color: white;
    background-color: black;
    position: absolute;
    opacity: 0.75;
    border-radius: 8px;
    border: 1px solid #999;
    padding: 4px;
    font-size: 14px;
    right: 85px;
    bottom: -30px;
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 8rem;
    }
    .subtitle {
        font-size: 2rem;
    }
    .container {
        width: 75%;
        box-sizing: border-box;
    }
    label {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .email {
        margin-top: 2rem;
    }
    input {
        font-size: 2rem;
        margin: 2rem 0;
    }
    .button {
        margin: 5rem 0;
        padding: 2rem;
    }
    .form-container {
        padding: 2rem;
    }
}
