<body style="margin: 0; padding: 0; background: #06010f;">
  <div class="container">
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="700"
    >
      <tr>
        <td align="center" bgcolor="white" style="padding: 40px 0 30px 0"></td>
      </tr>
      <tr>
        <td bgcolor="white" style="padding: 40px 30px 20px 30px">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td>
                <center>
                  <font face="arial">
                      <h1>
                      Aqui está o link para resetar seus dados.
                      </h1>
                  </font>
                </center>
              </td>
            </tr>
            <tr>
              <td>
                <font face="arial"
                  ><center>
                    Ao clicar no link seus dados de usuário serão retirados da API. Não se preocupe você poderá registra-los novamente.
                  </center>
                </font>
              </td>
            </tr>
              <tr>
                  <td>
                      <font face="arial">
                        <center style="padding: 30px 0px 0px 0px">
                          Se você não pediu para que seus dados fossem resetados desconsidere esta mensagem.
                        </center>
                      </font>
                  </td>
              </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="white" style="padding: 30px 30px 40px 30px"><center>${LINK}</center></td>
      </tr>
    </table>
  </div>
</body>
